@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
    overscroll-behavior-y: none;
    background-color: #14532d; /* fallback color */
}

/* Hide Scrollbar */
::-webkit-scrollbar {
    display: none;
}
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    user-select: none;
    -webkit-user-select: none;
}