@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overscroll-behavior-y: none;
    background-color: #14532d;
}
::-webkit-scrollbar { display: none; }
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    user-select: none;
    -webkit-user-select: none;
}